*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFFFF6;
}

/*Barra de Lado*/

div#ladinho{
    background-color: aqua;
    width: 120px;
    height: 100%;
}

/*Barra do Topo*/

div#topo{
    background-color: aqua;
    width: 100%;
    height: 50px;
}